  .contenedor{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  /* background-color: aqua;     */
 } 
  .card{
    position: relative;
    width: 400px;
    height: 500px;
    margin: 30px;
    box-shadow:20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);
 } 
 /* .container {
   position : relative;
   width : 1100px;
   display : flex;
   align-items : center;
   justify-content : center;
   flex-wrap: wrap;
   padding : 30px;  
   justify-content: space-around;
   
 } */
/*
 .card {
   position: relative;
   max-width : 300px;
   height : 215px;  
   background-color : #fff;
   margin : 30px 10px;
   padding : 20px 15px;
   display : flex;
   flex-direction : column;
   box-shadow : 0 5px 20px rgba(0,0,0,0.5);
   transition : 0.3s ease-in-out;
   border-radius : 15px;
 }

 .card:hover {
   height : 40px;    
 } */